<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Web socket sample</title>
</head>
<body>

    <p>
        <a href="#" class="move forward">Forward</a>
    </p>
    <p>
        <a href="#" class="move reverse">Reverse</a>
    </p>
    <p>
        <a href="#" class="move left">Left</a>
    </p>
    <p>
        <a href="#" class="move right">Right</a>
    </p>
    <p>
        <a href="#" class="move stop">Stop</a>
    </p>

    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg==" alt="Red dot">


<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="pi2golite.js"></script>
    <script type="text/javascript" src="ui.js"></script>
    <script type="text/javascript" src="main.js"></script>

</body>
</html>