<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Web socket sample</title>
</head>
<body>

    <h2>Move</h2>
    <p>
        <a href="#" class="move forward">Forward</a>
    </p>
    <p>
        <a href="#" class="move reverse">Reverse</a>
    </p>
    <p>
        <a href="#" class="move left">Left</a>
    </p>
    <p>
        <a href="#" class="move right">Right</a>
    </p>
    <p>
        <a href="#" class="move stop">Stop</a>
    </p>

    <h2>Camera</h2>
    <p>
        <a href="#" class="camera up">Up</a>
    </p>
    <p>
        <a href="#" class="camera down">Down</a>
    </p>
    <p>
        <a href="#" class="camera left">Left</a>
    </p>
    <p>
        <a href="#" class="camera right">Right</a>
    </p>

    <img id="camera" src="" alt="camera">

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="pi2golite.js"></script>
    <script type="text/javascript" src="camera.js"></script>
    <script type="text/javascript" src="ui.js"></script>
    <script type="text/javascript" src="main.js"></script>

</body>
</html>